# Ignore target directories and files
**/target/

# Ignore IDE-specific files and directories
**/.DS_Store
**/.idea/

# Ignore database directories and files
mysql-order-system-db/
mysql_keycloak_data/
mysql-order/

# Ignore Grafana
grafana/